body {
  margin: 0;
  padding: 0;
  /* font-family:'Courier New', Courier, monospace; */
}

.app-container {
  display: flex;
  /* padding: 50px; */
  width: 100%;
  margin: auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f7f7f7;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .app-container {
    width: 100%;
    padding: 10px;
  }

  .main-content {
    padding: 10px;
  }
}
