body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  width: 250px;
  background-color: #f8f9fc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #676a6d;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}

.navigation-menu.open {
  transform: translateX(0);
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #676a6d;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #676a6d;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  color: #676a6d;
  font-size: 18px;
}

li:hover {
  background-color: #e0e7ff;
  border-radius: 8px;
  color: #676a6d;
}

.nav-icon {
  font-size: 35px;
  color: #6ea7e4;
  margin-right: 10px;
}

.promo-section {
  margin-top: 20px;
  text-align: center;
  background-color: #e0e7ff;
  padding: 15px;
  border-radius: 8px;
}

/* Sidebar Toggle Icon */
.sidebar-toggle-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1050;
  display: none;
}

.sidebar-toggle-icon {
  font-size: 35px;
  color: #007bff;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar-toggle-container {
    display: block;
  }

  .navigation-menu {
    position: fixed;
    top:0px;
    transform: translateX(-100%);
  }

  .navigation-menu.open {
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  .navigation-menu {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .navigation-menu {
    width: 100%;
    padding: 10px;
    align-items: flex-start;
  }

  .logo {
    justify-content: center;
    width: 100%;
  }

  .logo img {
    height: 30px;
  }

  .logo span {
    font-size: 18px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    width: 100%;
    justify-content: flex-start;
    padding: 8px 0;
    font-size: 14px;
  }

  .nav-icon {
    font-size: 25px;
  }

  .promo-section {
    width: 100%;
    padding: 8px;
  }
}
